/* Home */

*
{
  background-color: black;
}
h2
{
  color: white;
}
.mainapp
{
  background-color: black;
  display: flex;
  flex-direction: row;
}
#HomeLogoDiv
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.List
{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 20px;
}
.Navmain
{
  display: flex;
  flex-direction: row;
  position: sticky;
}
.navitom
{
  color: white;
  padding-left: 40px;
}
.logonav
{
  margin-top: 20px;
  height: 30px;
}
#homediv
{
  display: flex;
}
#burimg
{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 120px;
  padding-left: 120px;
  height: 600px;
  width: 500px;
}

#btndiv
{
  display: flex;
  justify-content: center;
}
button
{
  height: 40px;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fc0101;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
button:hover
{
  background-color: #fc0101;
  cursor: pointer;
  transform: scale(1.2);
}

.MainDivSrevices
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logohome
{
  height: 200px;
}
a
{
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s;
}
a:hover
{
  color: rgba(252,1,1,255);
}

.RouterDiv
{
  width: 100%;
}

/* Services */

h1
{
  margin: 10px;
  color: red;
  background-color: rgba(255, 255, 255, 0);
}
.MainDivServices
{
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.ServicesName
{
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}
.SubDivServices
{
  padding-top: 0px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
   border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.ImageServices
{
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
}
.InfoDivServices
{
  font-size: 20px;
  color: white;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  margin: 10px;
}
p
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.DishesDivServices
{
  margin-right: 80px;
  background-color: rgba(255, 255, 255, 0);
}
.PriceDivServices
{
  color: rgba(252,1,1,255);
  margin-left: 80px;
  background-color: rgba(255, 255, 255, 0);
}
#ButtonFullManu
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.buttonfullmanudiv
{
  margin-bottom: 30px;
  background-color: #00000000;
}
.button-dennis
{
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* kirtan */

/* Aboutus */
.logo{
  width: 70%;
  
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;  
}

.about-section{
  width: 70%;
background:#000000;
  padding: 40px 0;
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);


}
.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
  background-color: #00000000;
}

.about-section h1{

  text-align: center;
  color: #fff;
  background-color: #00000000;
}
.border{
  width: 100px;
  height: 3px;
  background: rgba(252,1,1,255);
  margin: 40px auto;
}
.about-section-row{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
}
.about-section-col{
  flex: 50%;
  background-color: rgba(0, 0, 0, 0);
}
.about{
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0);
}
.about p{
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0);
}
.about a{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid rgba(252,1,1,255);
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
  
}
.about a:hover{
  color: #fff;
  background: rgba(252,1,1,255);
}
.skills{
  background-color: rgba(0, 0, 0, 0);
  padding-left: 30px;
}
.skill{
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.title{
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff
}
.progress{
  width: 100%;
  height: 12px;
  background: rgb(233, 224, 224);
  border-radius: 12px;
}
.progress-bar{
  height: 12px;
  background:rgba(252,1,1,255);
  border-radius: 12px;
}
.p1{
  width: 90%;
}
.p2{
  width: 95%;
}
.p3{
  width: 90%;
}
.progress-bar span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: rgb(0, 0, 0);
  background-color: #00000000;
  font-size: 12px;
}
.logo
{
  display: flex;
    justify-content: center;
}
#aboutLogo
{
  margin-top: 25px;
  margin-bottom: 25px;
  height:150px;
}
@media screen and (max-width:700px) {
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about,.skills{
    padding:0;
  }
  .about{
    text-align: center;
  }
}

/* anish */








/*media querry for Home*/

@media(max-width:1160px)
{
    #homediv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1px;
    }
    .fooddiv
    {
      display: flex;
      justify-content: center;
    }
}

/* end of home */


/* Vraj parmar */

.dennis-head
{
  color: red;
  display:flex;
  justify-content: center;
}
.dennis-manu
{
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  background-color: #00000000;
}
.dennis-dish
{
  color: red;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width: 300px;
  background-color: #00000000;
}
.dennis-price
{
  color: white;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  background-color: #00000000;
}
.dennis-maindish
{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 700px;
}
.contentcenter
{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #00000000;
}
.dennis-maindishhead
{
  color: red;
  background-color: #00000000;
}
.dennis-mainhead
{
  display: flex;
  justify-content: center;
  background-color: #00000000;
}
.dennis-span
{
  font-size: 20px;
}
.a-dennis
{
  background-color: #00000000;
}

/* anish */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background: #08071d00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08071d00;
}

.container form{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
}

.container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194, 194, 194, 0);
}

.container form #button{
    border: none;
    background: rgb(232, 0, 0);
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}
.contact-tag
{
  background-color: #00000000;
}
.ipcontact
{
  color: white;
}






/* Dont touch this */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
